extends layout

block extrahead
    script var _isOwner=!{!!isOwner}
    link(rel="stylesheet", href="/css/activity.css")
    title Activity

block content
    if isOwner
        form#entry_form(method='POST', action='/api/entry/add')
            input(name='uid', value=json.activity.uid, type='hidden')
            div
                label(for='entry_date') Date
                input#entry_date(name='date', type='date')
            div
                label(for='entry_time') Time
                input#entry_time(name='time', type='time')
            div
                label(for='entry_hours') Length
                input#entry_hours(name='hours', type='number', value='0')
                | h
                input(name='minutes', type='number', value='0')
                | m
                input(name='seconds', type='number', value='0')
                | s
            //- label(for='entry_public') Public
            //- input#entry_public(name='public', type='checkbox')
            div
                label(for='entry_comment') Comment
                textarea#entry_comment(name='comment', placeholder='Comment...')
            div
                input(type='submit',value='Add entry')
    
    button#toggleCharts Show charts
    div#charts(hidden)
        div#chartsButtons
        div.interval#dateInterval
            div.min
            div.bar
                input.from(type='range')
                input.to(type='range')
                div.from
                div.to
            div.max
        div#chartsSettings
    canvas#canvas(hidden)
    table#entries
        tr
            th #
            th UID
            th Start
            th Length
            th Comment
    script(src='/activity.js')