extends layout

block extrahead
    script var _isOwner=!{!!isOwner}
    link(rel='stylesheet', href='/css/activities.css')
    title Activities

block content
    div.container
        //- let classNames = isOwner ? 'shown retractable':'shown'
        //- each act in activities
        //-     div.bar(style=act.color!=null?`background-color: hsl(${act.color}, 100%, 70%);`:'', created=act.activity_created, timestamp=act.entry_timestamp)
        //-         div(class=classNames)
        //-             table
        //-                 tr
        //-                     td(colspan=3)
        //-                         a(href=`/activity/${act.activity_id}`)
        //-                             span.activity_title= act.activity_title
        //-                             div#extra
        //-                                 span.created= ` created ${act.text_activity_since_created} `
        //-                                 span= `, has ${act.text_entry_count}`
        //-                                 if act.text_entry_average_interval
        //-                                     span= `, is on average ${act.text_entry_average_interval} long`
        //-                                     if act.text_entry_average_between
        //-                                         span= ` and takes ${act.text_entry_average_between} between entries`
        //-                                 else if act.text_entry_average_between
        //-                                     span= `, takes on average ${act.text_entry_average_between} between entries`
        //-                 tr
        //-                     td Latest entry
        //-                     td Comment
        //-                     td Took
        //-                 tr
        //-                     if act.text_entry_since
        //-                         td.since(title=act.entry_timestamp)= act.text_entry_since
        //-                     else
        //-                         td No entries
        //-                     td.comment= act.entry_comment || '-'
        //-                     td= act.text_entry_interval || '-'
        //-         if isOwner
        //-             div.hidden
        //-                 div.add_entry(activity_id=act.activity_id) Add entry
        //-                 div.edit_activity(activity_id=act.activity_id, activity_title=act.activity_title, activity_type=act.activity_type, activity_public=act.activity_public) Edit activity
        //-                 div.remove_activity(activity_id=act.activity_id) Remove activity


        //- each act in activities
        //-     div.activity
        //-         div.bar.retractable(style=act.color?`background-color: hsl(${act.color}, 100%, 70%);`:'')
        //-             div.upper
        //-                 a(href=`/activity/${act.activity_id}`)= act.activity_title
        //-                 span= ` created ${act.activity_created} ago `
        //-                 span= ` has ${act.count} entries `
        //-                 span= ` on average ${act.avg_between} between entries`
        //-             div.lower
        //-                 div
        //-                     |Last entry
        //-                     span(title=act.entry_timestamp)= act.since
        //-                 div
        //-                     |Comment
        //-                     span= act.entry_comment
        //-                 div
        //-                     |Took
        //-                     span= act.interval
        //-             if isOwner
        //-                 div.back
        //-                     button.add_entry(activity_id=act.activity_id) Add entry
        //-                     button.edit_entry(activity_id=act.activity_id) Edit entry
        //-                     button.remove_activity(activity_id=act.activity_id) Remove activity
        
        //- table
        //-     each act in activities
        //-         tr(style=act.color?`background-color: hsl(${act.color}, 100%, 50%);`:'')
        //-             td
        //-                 a(href=`/activity/${act.activity_id}`)= act.activity_title
        //-             td= act.color
        //-             td= act.since
        //-             td= act.entry_comment
        //-             td= act.interval
        //-             td= act.count
        //-             if isOwner
        //-                 td
        //-                     button.add_entry(activity_id=act.activity_id) Add entry
        //-                 td
        //-                     button.remove_activity(activity_id=act.activity_id) Remove activity
        table#activities
            tr
                th Title
                th Type
                th Entries count
                th Last entry
                th Length
                th Comment
        if isOwner
            form#activity_form(method='POST', action='/api/activity/add')
                div
                    label(for='#activity_title') Title
                    input#activity_title(name='title',type='text')
                div
                    label(for='#activity_type') Type
                    select#activity_type(name='type')
                        option(value='0') Neutral
                        option(value='1') Positive
                        option(value='2') Negative
                div
                    label(for='#activity_public') Public
                    input#activity_public(name='public',type='checkbox')
                div
                    input(type='submit', value='Add activity')
    script(src='/activities.js')