html(style='background-color:black;')
    head
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
        link(rel='stylesheet', href='/css/layout.css')
        link(rel='stylesheet', href='/css/colors.css')
        script(src='/layout.js')
        if json
            script var _json=!{JSON.stringify(json)}
        else
            script var _json={}
        block extrahead
    body
        div.header
            div
                div.left
                    a(href='/')
                        span.logo
                        span MyStats
                div.center
                    if title
                        span.title= title
                if user
                    div.right
                        span Logged in as 
                        a(href=`/user/${user.uid}`)
                            span= user.displayname
                        |  - 
                        a(href='/logout')
                            span.logout Logout
                else
                    div.right
                        a(href='/login')
                            span Login
        div.content
            block content

        div.footer
            div
                a#colorModeToggle(href='javascript:void(0)', onclick='toggleColors()') Dark mode
                script document.getElementById('colorModeToggle').innerText = updateColors();