extends layout

block extrahead
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet', href='/css/login.css')
    link(rel='stylesheet', href='/css/colors.css')

block content
    div.container
        span.title MyStats
        div.hr
        div#login_container(hidden=!!register)
            form.login(action='/login', method='POST')
                span Login
                div
                    label(for='lusername') Username
                    input#lusername(name='username',type='text',required,autocomplete='username')
                    label(for='lpassword') Password
                    input#lpassword(name='password',type='password',required,autocomplete='current-password')
                    input(type='submit', value='Login')
            div.hr
            span.goto Don't have an account? 
                a#goto_register(href='/register') Register 4 free, kiddo!
        
        div#register_container(hidden=!register)
            form.register(action='/register', method='POST')
                span Register
                div
                    label(for='rusername') Username
                    input#rusername(name='username',type='text',required,autocomplete='username')
                    label(for='rpassword') Password
                    input#rpassword(name='password',type='password',required,autocomplete='new-password')
                    label(for='rcpassword') Confirm Password
                    input#rcpassword(name='cpassword', type='password',required,autocomplete='new-password')
                    label(for='remail') Email
                    input#remail(name='email',type='email',placeholder='(optional)',autocomplete='email')
                    input(type='submit', value='Register')
            span.goto Have an account? 
                a#goto_login(href='/login') Login!
        script(src='/login.js')