/* ========== CHARTS ========= */
#chartsButtons, #chartsSettings {
    display: flex;
    padding: 10px;
}

#chartsButtons label {
    font-size: 11px;
    margin-right: 10px;
}

#chartsButtons input, #chartsButtons label, .chartSetting input, .chartSetting select, .chartSetting label {
    cursor: pointer; }

.chartSetting { margin: 0 6px; }

.chartSetting label {
    font-size: 10px;
    display: block;
}

.chartSetting input {
    margin-left: 0;
}

.chartSetting input[type=number] { width: 40px; }

canvas { width: 100%; }


/* ======== TABLE ======== */
table {
    border-collapse: collapse;
}
table a {
    text-decoration: none;
}

table a {
    font-size: .8em;
    color: var(--link-color-highlight);
}
table a:hover {
    color: var(--link-color);
}
table td {
    padding: 2px 4px;
}
table td:nth-child(2) a {
    font-size: .8em;
    font-family: monospace;
}


/* ========= ADD ENTRY FORM ========== */
#entry_form {
    display: table;
    margin: auto;
}

#entry_form label {
    font-size: 10px;
    display: block;
}

#entry_form div {
    margin: 10px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

#entry_form input[type=date], #entry_form input[type=time] {
    width: 150px;
}

#entry_form input[type=number] {
    width: 45px;
    margin-right: 1px;
    margin-left: 10px;
}
#entry_form input[type=number]:first-of-type {
    margin-left: 0;
}

#entry_form textarea {
    width: 150px;
    height: 50px;
}