/* ========= ACTIVITY TABLE ========== */
table {
    margin: auto;
    border-collapse: collapse;
}

table td, table th {
    padding: 2px 4px;
}

table a {
    color: var(--fg-color);
    text-decoration: none;
    font-size: 1.2em;
}

table a:hover {
    color: var(--blue-normal);
}

.dark-color, .dark-color * {
    color: var(--dark);
}

.dark-color a:hover {
    color: var(--link-color);
}



/* ========= ADD ACTIVITY FORM ========== */
#activity_form {
    display: table;
    margin: 10px auto;
}

#activity_form label {
    font-size: .7em;
    display: block;
}

#activity_form div {
    margin: 10px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

#activity_form input[type=text], #activity_form select {
    font-size: .8em;
    width: 150px;
}

#activity_form input[type=checkbox] {
    margin: 1px 0;
}