body {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: 0;
}
:root {
    content: 'light';

    --dark: #111111;

    --bg-color: #fafafa;
    --fg-color: var(--dark);
    --bg-color-highlight: #fff;
    --border-color: #0000001a;
    --link-color: #5d5d5d;
    --link-color-highlight: #4b89ff;

    --green-bg-color: #9eec9e;
    --green-fg-color: #1c9431;
    --green-bg-color-hover: #76de76;
    --green-fg-color-hover: #2b863b;

    --s: 100%;
    --l: 60%;
    --l-color: 20%;

    --blue-normal: #466cca;
    --blue-dark: #224b99;

}

@media (prefers-color-scheme: dark) {
    :root { content: 'dark' }
    html:not(.light), html.dark {
        --dark: #181616;

        --bg-color: var(--dark);
        --fg-color: #ccced3;
        --bg-color-highlight: #262525;
        --border-color: #3c393954;
        --link-color: #89898f;
        
        --green-bg-color: #0e570e;
        --green-fg-color: #092d10;
        --green-bg-color-hover: #1c771c;
        --green-fg-color-hover: #0a3713;

        --s: 70%;
        --l: 50%;

        --blue-normal: #224b99;
        --blue-dark: #4b89ff;
    }
}

html.dark {
    --dark: #181616;

    --bg-color: var(--dark);
    --fg-color: #ccced3;
    --bg-color-highlight: #262525;
    --border-color: #3c393954;
    --link-color: #89898f;
    
    --green-bg-color: #0e570e;
    --green-fg-color: #092d10;
    --green-bg-color-hover: #1c771c;
    --green-fg-color-hover: #0a3713;

    --s: 70%;
    --l: 50%;

    --blue-normal: #4b89ff;
    --blue-dark: #224b99;
}