:root {
    --top-bar-height: 3.5rem;
}



html {
    background-color: var(--bg-color) !important;
    color: var(--fg-color);
}

body {
    padding-top: var(--top-bar-height);
    font-family: 'Roboto', sans-serif;
}

input, select, textarea, button {
    border: 1px solid var(--border-color);
    background-color: var(--bg-color-highlight);
    color: var(--fg-color);
}


/* ========================
            TOP BAR
   ======================== */

div.header {
    z-index: 50;
    background-color: var(--bg-color-highlight);
    position: fixed;
    height: var(--top-bar-height);
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--border-color);
}

div.header > div {
    max-width: 1010px;
    margin: auto;
    height: var(--top-bar-height);
}

div.header > div > div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: var(--top-bar-height);
    line-height: var(--top-bar-height);
}

div.header a {
    text-decoration: none;
    color: var(--link-color);
}

div.header a:hover {
    opacity: 0.7;
}

div.header div.left   { width: 30%; }
div.header div.center { width: 40%; font-size: 2em; }
div.header div.right  { width: 30%; }



/* ========================
            TABLES
   ======================== */

td.nowrap {
    white-space: nowrap;
}



/* ========================
            CONTENT
   ======================== */

div.content {
    max-width: 1000px;
    margin: auto;
}

div.footer {
    padding: 10px;
    font-size: 10px;
    bottom: 0;
    position: fixed;
}
div.footer a {
    color: var(--blue-normal);
    text-decoration: none;
}
div.footer a:hover {
    color: var(--blue-dark);
}


/* ========================
 DOUBLE RANGE / INTERVAL INPUT
   ======================== */
.interval {
    width: 100%;
    font-size: 10px;
    display: flex;
    margin: 5px 0;
}

.interval > .min, .interval > .max { margin: 15px 6px; }

.interval > .bar {
    flex-grow: 1;
    position: relative;
    margin: 20px 0 5px 0;
}

.interval > .bar > input {
    width: 100%;
    position: absolute;
    margin: 0;
    pointer-events: none;
    outline: none;
    -webkit-appearance: none;
    height: 4px;
    background-color: #aab;
}

.interval > .bar > input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    height: 18px;
    width: 7px;
    background-color: #445;
}

.interval > .bar > input.from::-webkit-slider-thumb { transform: translateY(5px); }
.interval > .bar > input.to::-webkit-slider-thumb { transform: translateY(-5px); }

.interval > .bar > div {
    position: absolute;
    white-space: nowrap;
    transform: translateX(-50%);
}

.interval > .bar > div.from { top: 15px; }
.interval > .bar > div.to { top: -24px; }