body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

div.container {
    background-color: var(--bg-color-highlight);
    border: 1px solid var(--border-color);
    width: 100%;
    max-width: 350px;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    transform: translateY(-50%);
    margin-top: 50vh;
}

div.container > span.title {
    font-size: 2em;
    /* font-weight: bold; */
}

div.hr {
    width: 150px;
    height: 0;
    border-bottom: 1px solid var(--border-color);
    margin: 20px auto;
}

form > span {
    display: block;
    font-size: 1em;
    margin-bottom: 10px;
}

form > div {
    width: 200px;
    margin: auto;
    text-align: left;
}

label {
    font-size: .7em;
    margin-bottom: -2px;
    margin-top: 4px;
    display: block;
    /* color: #999; */
}

input {
    height: 26px;
    width: 100%;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    color: var(--fg-color);
    display: block;
    margin: 2px auto;
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    padding: 0 5px;
}

input[type=submit] {
    background-color: var(--green-bg-color);
    color: var(--green-fg-color);
    margin-top: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: var(--green-bg-color-hover);
    color: var(--green-fg-color-hover);
}

@media only screen and (max-height: 500px) {
    div.container {
        margin-top: 0;
        transform: none;
    }
}

span.goto {
    font-size: .625em;
}

span.goto > a {
    text-decoration: none;
    color: var(--blue-normal);
}

span.goto > a:hover {
    text-decoration: none;
    color: var(--blue-dark);
}