body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

table {
    margin: auto;
}

div.left {
    width: 70%;
    font-size: 26px;
    line-height: 70px;
    padding-left: 25px;
}

div.right {
    width: 30%;
    line-height: 35px;
    padding-right: 25px;
    text-align: right;
    font-size: 13px;
}

div.activity {
    min-width: 300px;
    max-width: 950px;
    width: 70vw;
}

div.activity > div:first-child {
    font-size: 13px;
}

div.bar {
    /* box-shadow: 2px 2px 2px #969696; */
    background-color: #ececec;
    height: 70px;
}

div.bar > div {
    display: inline-flex;
    vertical-align: top;
    height: 70px;
}

div.numbers {
    transition: width 0.1s;
    width: 100%;
}

div.button {
    transition: width 0.1s;
    width: 0;
    overflow-x: hidden;
    /* color: #b6b5b9; */
    background-color: #ececec;
    line-height: 70px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 13px;
    /* box-sizing: border-box; */
}

div.button:hover {
    /* background-color: #bbbbbb;
    color: #ececec; */

    background-color: #b5afb4;
    color: #ececec;
}

div.button > div {
    min-width: 150px;
    text-align: center;
}

div.bar:hover > div.numbers {
    width: calc(100% - 150px);
}

div.bar:hover > div.button {
    width: 150px;
    /* border-left: 2px solid #bbbbbb; */
}

div.activity, div.add_activity {
    margin: 20px 0;
}

div.add_activity {
    text-align: center;
}

div.add_activity > div {
    font-size: 13px;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    /* box-shadow: 2px 2px 2px #969696; */
    background-color: #ececec;
    cursor: pointer;
    line-height: 50px;
}

div.add_activity > div:hover {
    background-color: #b5afb4;
    color: #ececec;
}

div#popup > div {
    display: table;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;
}

div#popup_close {
    display: table-cell;
    vertical-align: middle;
}

div#popup_close > div {
    width: 70vw;
    min-width: 270px;
    max-width: 500px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

#popup td {
    width: 50%;
    padding: 5px 0;
}

.good1 {
    background-color: #11ff00;
}

.bad1 {
    background-color: #f00;
}

.label {
    text-align: right;
}

.submit {
    text-align: center;
}

.input > textarea, .input > input {
    width: 100%;
}

.input > div {
    width: 33%;
    display: inline-flex;
}

.input > div > input {
    width: 80%;
}

form {
    margin: 0;
}